* {
  padding: 0;
  margin: 0;
  font-family: Antonio;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

@font-face {
    font-family: Antonio;
    src: url(fonts/antonio-regular.ttf);
}

@font-face {
  font-family: Antonio-Light;
  src: url(fonts/antonio-light.ttf);
}

/* Navigation / Menu */

.hamburger-icon-wrapper {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 30px;
  width: 35px;
  cursor: pointer }

.hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 3px;
  width: 30px;
  background: black;
  transition: all 0.2s ease }
.hamburger-icon        { top: 0.75em  }
.hamburger-icon:before { top: -0.55em }
.hamburger-icon:after  { top: 0.55em  }
.hamburger-active .hamburger-icon { background: transparent; transform: rotate(-135deg) }
.hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after { top: 0 }
.hamburger-active .hamburger-icon:before { transform: rotate(90deg) }
.hamburger-active .hamburger-icon, .hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after {
  background: white }

.hamburger-menu {
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  color: white;
  text-align: center }
.hamburger-active .hamburger-menu {
  opacity: 1;
  pointer-events: initial; }
.hamburger-menu-list {
  display: block;
  transition: all 0.4s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2) }
.hamburger-active .hamburger-menu-list {
  transform: translate(-50%, -50%) scale(1)
}

.hamburger-menu-list {
  margin-top: 6%;
}

.hamburger-menu-list li {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1px 0px;
}

.hamburger-menu-list li a:link, a:visited, a:hover, a:active {
  color: gold;
  text-decoration: none;
}

#landing-page {
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.left {
  width: 25%;
  height: 100%;
  overflow: hidden;
  float: left;
}

#landing-page .left img {
  height: 100%;
}

.right {
  height: 100%;
  width: 75%;
  float: right;
}

header {
  width: 85%;
  margin: 50% auto;
}

#border {
  border-bottom: 4px solid #F5A623;
}

h1 {
  text-align: right;
  font-size: 33px;
  margin-bottom: -2%;
}

h2 {
  font-size: 21px;
  text-align: right;
  margin-top: 5%;
}

#wedding {
  background-color: #FFD0D6;
}

#nature {
  background-color: #E7FFCF;
}

@media only screen and (max-height: 274px) {
  body {
    overflow: scroll;
  }
  #landing-page {
    overflow: scroll;
  }
}

@media only screen and (min-width: 375px) {
  /*header {
    margin: 40% auto;
  }*/
  h1 {
    font-size: 37px;
  }
  h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 425px) {
  h2 {
    margin-top: 3%;
  }
}

@media only screen and (min-width: 635px) {
  /*header {
    margin: 35% auto;*/
}

@media only screen and (min-width: 700px) {
  .left {
    width: 33.333%;
  }
  .right {
    width: 66.666%;
  }
  /*header {
    margin: 30% auto;
  }*/
  h1 {
    margin-bottom: -1%;
  }
  h2 {
    margin-top: 2%;
  }
}

@media only screen and (min-width: 818px) {
  header {
    margin: 40% auto;
  }
}

@media only screen and (min-width: 1110px) {
  header {
    margin: 35% auto;
  }
}

@media only screen and (min-width: 1240) {
  h2 {
    margin-top: 1%;
  }
}
